* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sinal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.b1{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%
}
 .b2{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 238, 0);
    border-radius: 100%
 }
 .b3{
    width: 100px;
    height: 100px;
    background-color: rgb(43, 226, 58);
    border-radius: 100%


 }

