*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: black;
    color: azure;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.menu{
    display: flex;
    gap: 30px;
    
}

.menu a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.6s ease;
    
}

.menu a:hover{
    color: rgb(145, 4, 211);
    transition: all 0.6s ease; 
}